body {
    background-image: linear-gradient(to bottom right, rgb(104, 94, 121), rgb(82, 88, 145), rgb(63, 59, 88));
}

.page-container {
    display: flex;
    justify-content: center;
}

.landing-container {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.151);
    width: 90%;
    margin: 5%;
    overflow: hidden;
}

.nav {
    margin-left: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.nav ul li {
    display: inline;
}

.nav li a {
    background-color: rgba(35, 194, 159, 0.945);
    color: white;
    text-decoration: none;
    margin-top: 0;
    padding: 16px;
    transition: all 0.3s ease 0s;
}

.nav li a:hover {
    background-color: white;
    color: rgba(35, 194, 159, 0.945);
}

.logo {
    margin-right: auto;
    margin-left: 16px;
    color: white;
    font-size: 20px;
}

.top-content {
    display: flex;
    flex-direction: row;
}

.bottom-content {
    display: flex;
    align-content: right;
}

.search-container {
    margin: 3% 0 5% 45px;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 3px;
    width: 16%;
    height: auto;
    padding: 5px;
}

#search {
    width: 200px;
    height: 25px;
}

.search-button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 20px;
    padding-left: 0;
    padding-top: 10px;
}

.search {
    border-radius: 3px;
    background-color: white;
    border: 0;
}

.Login-Container {
    height: 120px;
    margin: 3% 45px 16px auto;
    padding: 10px;
}

.Login-Container h3 {
    margin-top: 0;
    
}

.Login-Container input {
    width: 150px;
    height: 18px;
    border-radius: 3px;
}

.top10-container {
    background-color: rgba(0, 0, 0, 0.212);
    width: 65%;
    margin: 16px;
}

